<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winit.vms.adaptor.dao.SingPostShippingNoDao">
	<resultMap id="SingPostShippingNo" type="com.winit.vms.adaptor.entity.SingPostShippingNo">
		<id property="id" column="ID" jdbcType="NUMERIC"/>
		<result property="shippingNo" column="SHIPPING_NO" jdbcType="VARCHAR"/>
		<result property="isValid" column="IS_VALID" jdbcType="VARCHAR"/>
		<result property="organizationId" column="ORGANIZATION_ID" jdbcType="NUMERIC"/>
		<result property="created" column="CREATED" jdbcType="TIMESTAMP"/>
		<result property="createdby" column="CREATEDBY" jdbcType="VARCHAR"/>
		<result property="updated" column="UPDATED" jdbcType="TIMESTAMP"/>
		<result property="updatedby" column="UPDATEDBY" jdbcType="VARCHAR"/>
		<result property="isActive" column="IS_ACTIVE" jdbcType="VARCHAR"/>
		<result property="isDelete" column="IS_DELETE" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="columns">
			ID,
			SHIPPING_NO,
			IS_VALID,
			ORGANIZATION_ID,
			CREATED,
			CREATEDBY,
			UPDATED,
			UPDATEDBY,
			IS_ACTIVE,
			IS_DELETE
	</sql>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id"   parameterType="com.winit.vms.adaptor.entity.SingPostShippingNo">
		INSERT INTO VMS_AD_SING_POST_SHIPPING_NO
		(ID,SHIPPING_NO,IS_VALID,ORGANIZATION_ID,CREATED,CREATEDBY,UPDATED,UPDATEDBY,IS_ACTIVE,IS_DELETE)
		VALUES 
		(#{id,jdbcType=NUMERIC}, #{shippingNo,jdbcType=VARCHAR}, #{isValid,jdbcType=VARCHAR}, #{organizationId,jdbcType=NUMERIC}, #{created,jdbcType=TIMESTAMP}, #{createdby,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, #{updatedby,jdbcType=VARCHAR}, #{isActive,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR})
	</insert>
	
	<select id="get"   parameterType="java.lang.Long" resultMap="SingPostShippingNo">
		SELECT <include refid="columns" /> FROM VMS_AD_SING_POST_SHIPPING_NO 
		WHERE 
			IS_DELETE='N'
			AND ID=#{id}
	</select>
	
	<select 
	    id="find" parameterType="com.winit.common.query.Searchable"
	    resultMap="SingPostShippingNo"
	    timeout="60000">
		select <include refid="columns"/> from VMS_AD_SING_POST_SHIPPING_NO
	</select>
	
	<update id="update" parameterType="com.winit.vms.adaptor.entity.SingPostShippingNo">
		UPDATE VMS_AD_SING_POST_SHIPPING_NO SET
		SHIPPING_NO=#{shippingNo,jdbcType=VARCHAR},
		IS_VALID=#{isValid,jdbcType=VARCHAR},
		ORGANIZATION_ID=#{organizationId,jdbcType=NUMERIC},
		CREATED=#{created,jdbcType=TIMESTAMP},
		CREATEDBY=#{createdby,jdbcType=VARCHAR},
		UPDATED=#{updated,jdbcType=TIMESTAMP},
		UPDATEDBY=#{updatedby,jdbcType=VARCHAR},
		IS_ACTIVE=#{isActive,jdbcType=VARCHAR},
		IS_DELETE=#{isDelete,jdbcType=VARCHAR}
		WHERE
		ID=#{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM VMS_AD_SING_POST_SHIPPING_NO 
		WHERE
		ID=#{id}
	</delete>
	
	<update id="tombstoned" parameterType="java.lang.Long">
		<bind name="currentTime" value="@com.winit.vms.core.security.SCUtils@currentDate()"/>
		<bind name="currentUserId" value="@com.winit.vms.core.security.SCUtils@currentUserId()"/>
		UPDATE VMS_AD_SING_POST_SHIPPING_NO SET
			IS_DELETE='Y',
			UPDATED=#{currentTime,jdbcType=TIMESTAMP},
			UPDATEDBY=#{currentUserId,jdbcType=VARCHAR}
		WHERE
			ID=#{id}
	</update>
	
	<update id="disable" parameterType="java.lang.Long">
		<bind name="currentTime" value="@com.winit.vms.core.security.SCUtils@currentDate()"/>
		<bind name="currentUserId" value="@com.winit.vms.core.security.SCUtils@currentUserId()"/>
		UPDATE VMS_AD_SING_POST_SHIPPING_NO SET
			IS_ACTIVE='N',
			UPDATED=#{currentTime,jdbcType=TIMESTAMP},
			UPDATEDBY=#{currentUserId,jdbcType=VARCHAR}
		WHERE
			ID=#{id}
	</update>
	<update id="enable" parameterType="java.lang.Long">
		<bind name="currentTime" value="@com.winit.vms.core.security.SCUtils@currentDate()"/>
		<bind name="currentUserId" value="@com.winit.vms.core.security.SCUtils@currentUserId()"/>
		UPDATE VMS_AD_SING_POST_SHIPPING_NO SET
			IS_ACTIVE='Y',
			UPDATED=#{currentTime,jdbcType=TIMESTAMP},
			UPDATEDBY=#{currentUserId,jdbcType=VARCHAR}
		WHERE
			ID=#{id}
	</update>
	
	<select id="getNextShippingNo" resultType="java.lang.String">
		SELECT MIN(SHIPPING_NO) FROM VMS_AD_SING_POST_SHIPPING_NO 
		WHERE 
			IS_VALID='Y'
			AND SHIPPING_NO > (SELECT IFNULL(MAX(SHIPPING_NO), '') FROM VMS_AD_SING_POST_SHIPPING_NO WHERE IS_VALID='N')
	</select>
	
	<!-- Operate by criteria -->
	
	<select id="queryByCriteria" parameterType="com.winit.vms.adaptor.query.SingPostShippingNoQuery$FindQuery" resultMap="SingPostShippingNo">
		SELECT 
			RES.ID,
			RES.SHIPPING_NO,
			RES.IS_VALID,
			RES.ORGANIZATION_ID,
			RES.CREATED,
			RES.CREATEDBY,
			RES.UPDATED,
			RES.UPDATEDBY,
			RES.IS_ACTIVE,
			RES.IS_DELETE
		<include refid="queryByCriteriaSql" />
		<include refid="orderByClauseSql"/>
		<if test="first">
			limit 1
		</if>
	</select>
	
	<select id="queryCountByCriteria" parameterType="com.winit.vms.adaptor.query.SingPostShippingNoQuery$FindQuery" resultType="Long">
		SELECT count(1)
		<include refid="queryByCriteriaSql" />
	</select>

	<sql id="queryByCriteriaSql">
		from VMS_AD_SING_POST_SHIPPING_NO RES
		<include refid="criteriaSql"/>
	</sql>
	<update id="updateByUpdateQuery" parameterType="com.winit.vms.adaptor.query.SingPostShippingNoQuery$UpdateQuery">
		UPDATE VMS_AD_SING_POST_SHIPPING_NO RES
		<include refid="updateDataCaluseSql"/>
		<include refid="criteriaSql"/>
	</update>
	
	
	<sql id="criteriaSql">
		<where>
			IS_DELETE='N'
			<if test="oredCriteria.size()==1">
				<trim prefix="AND" >
					<include refid="oredCriteriaSql"/>
				</trim>
			
			</if>
			<if test="oredCriteria.size()>1">
				<trim prefix="AND (" suffix=")" >
					<include refid="oredCriteriaSql"/>
				</trim>
			</if>
		</where>
	</sql>
		
		
	<sql id="oredCriteriaSql">
		<foreach  collection="oredCriteria" item="criteria" separator="or">
			<if test="criteria.valid">
				<if test="criteria.criteria.size()==1">
					<trim prefixOverrides="and">
						<include refid="criterionSql"/>
					</trim>
				</if>
				<if test="criteria.criteria.size()>1">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<include refid="criterionSql"/>
					</trim>
				</if>
			</if>
		</foreach>
	</sql>
	
	<sql id="criterionSql">
		<foreach collection="criteria.criteria" item="criterion">
			<choose>
				<when test="criterion.noValue">
					and RES.${criterion.condition}
				</when>
				<when test="criterion.singleValue">
					and RES.${criterion.condition} #{criterion.value}
				</when>
				<when test="criterion.betweenValue">
					and RES.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
				</when>
				<when test="criterion.listValue">
					and RES.${criterion.condition}
					<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
						#{listItem}
					</foreach>
				</when>
			</choose>
		</foreach>
	</sql>
		
	<sql id="updateDataCaluseSql">
		<set>   
			<foreach collection="updateClause.dataClauses" item="clause" separator=",">
				${clause.property} #{clause.value}
			</foreach>
		</set>
	</sql>
	
	
	<sql id="orderByClauseSql">
		<if test="sort!=null">
			ORDER BY 
				${sort.sortSql}
		</if>
	</sql>
	
</mapper>