<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/beans/spring-util.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
     <!-- 启动时不检查provider-->
	<dubbo:consumer timeout="${dubbo.timeout}" check="${dubbo.check}" filter="commandContextFilter" />
	
 	<dubbo:reference id="costCalculatorFeeService" interface="com.winit.pms.spi.vendor.CostCalculatorFeeService" version="1.0.0"/>
 	
</beans>