<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"     
        xmlns:context="http://www.springframework.org/schema/context"     
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   
    <!-- 开启注解配置 -->  
    <context:annotation-config />  
	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
<!-- 	<context:component-scan base-package="com.gdcc.live.*"> -->
<!-- 		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->
<!-- 		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>		 -->
<!-- 	</context:component-scan> -->
<!--     <import resource="spring-db.xml"/> -->



	<!--加载配置文件-->
	<bean id="configproperties" 
         class="org.springframework.beans.factory.config.PropertiesFactoryBean">
          <property name="locations" value="classpath:/conf/properties/*.properties"/>
    </bean>
     <bean id="propertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="properties" ref="configproperties"/>
    </bean>
    
    
     <!-- 生产环境 -->
     <!-- 
	<beans profile="prod">
		<context:property-placeholder ignore-resource-not-found="true"
			location="classpath:/application.properties"/>
		<import resource="classpath:/conf/spring/spring-dubbo.xml" />
	</beans>
	 -->
</beans>
