<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p"     
       xmlns:context="http://www.springframework.org/schema/context"     
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   
    <!--应用信息-->
    <dubbo:application name="${dubbo.application.name}" 
                       owner="${dubbo.application.owner}" 
                       organization="${dubbo.application.organization}"/>
                       
    <!-- 注册中心 dynamic:false,注册为静态类型-->
    <dubbo:registry protocol="${dubbo.protocol}" address="${dubbo.address}" dynamic="${dubbo.dynamic}"/>
 	<import resource="spring-dubbo-provider.xml"/>
 	<import resource="spring-dubbo-consumer.xml"/>
   
</beans>
